<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <style>
        body { background:#111; color:white; text-align:center; font-family:Arial; }
        form { margin-top:150px; }
        input { padding:10px; margin:10px; }
        button { padding:10px 20px; }
    </style>
</head>
<body>
    <h1>Task Manager Login</h1>
    <form method="POST">
        <input name="username" placeholder="Username"><br>
        <input type="password" name="password" placeholder="Password"><br>
        <button>Login</button>
    </form>
</body>
</html>
