body.dark {
    background:#111;
    color:white;
}
body.light {
    background:#eee;
    color:black;
}

.grid {
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    gap:20px;
    width:80%;
    margin:auto;
}

.logout {
    position:absolute; right:20px; top:20px;
}

.theme-toggle {
    position:absolute; left:20px; top:20px; padding:10px;
}

.logs {
    background:#222;
    padding:20px;
    width:80%;
    margin:auto;
    height:150px;
    overflow-y:scroll;
    border:1px solid #444;
}
